.searchBar 
{
    width: 30vmax;
    height: 5vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1vmin;
    box-shadow: 0.5vmin 0.25vmin 0.5vmin #58508d;
}

.searchBarInput 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 65%;
    border-radius: 0.5vmin;
    border-color: #6c8ceb;
    padding: 0 1.5% 0 1.5%;
    font-size: 1.5vmin;

}

.searchBarSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: auto;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    color: #6c8ceb;
    font-size: 2vmin;
    border-radius: 0.2vmin;
    padding: 0 0 0 0;
}

.searchBarSubmit:hover {
    background-color: #6c8ceb;
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .searchBar {
        display: none;
    }
}