#item-container{
    height: 45vmin;
    overflow-y: auto;
    background-color: #ebebeb;
    border-radius: 2vmin;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    
}

#item {
    
    padding: 1em;
    margin: 0.5em;
    background-color: #cfcfcf;
    border-radius: 1vmin;
    cursor: pointer;
}

#item:hover, .MuiTab-root.MuiTab-textColorInherit:hover {
    background-color: #6c8ceb;
    color: white;
}

.MuiTab-root.MuiTab-textColorInherit {
    background-color: #d3d3d3;
    opacity: 1;
}

#tab-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

#item-container::-webkit-scrollbar{
    width: 10px;
}

#item-container::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 1vmin;
}

#item-container::-webkit-scrollbar-thumb {
    background-color: #6c8ceb;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .MuiTab-root.MuiTab-textColorInherit{
        width: 20vmin;
        font-size: 2.5vmin;
    }

    #item-container{
        height: 35vmax;
    }

}