.dashPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomeTitle {
    padding: 0 0 0 0;
    margin: 3vmin 0 0 0;
}

body {
    background-color: #f3f3f3;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#flexRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2vmin;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #flexRow{
        flex-direction: column;
        align-items: center;
    }
}