nav {
    display: flex;
    width: 100%;
    height: 8vh;
    position: relative;
    background-color: #6c8ceb;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 1vmin 1vmin -0.5vmin #888888; */
    z-index: 2;
}

.navbarLeft, .navbarRight
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 1vmax 0 1vmax;
}

.navbarLogo 
{
    display: flex;
    height: 40%;
    max-height: 4vmin;
}

#navTitle {
    font-weight: 540;
    font-family: 'Inter', sans-serif;
    font-size: 3vmin;
    padding-left: 1vmax;
}

p {
    display: flex;
    margin: 0 0 0 0;
    width: auto;
}

.reactIcons {
    height: 4vmin;
    width: 4vmin;
    margin: 0 1.5vmax 0 1.5vmax;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    nav {
        height: 10vmax;
    }

    .navbarLeft {
       width: 20%;
    }

    .navbarLogo {
        height: 80%;
        width: auto;
        max-height: 4vmax;
    }

    #navTitle {
        display: none;
        font-size: 4vmax;
    }
    .reactIcons {
        height: 4vmax;
        width: 4vmax;
    }
}